@code
{
    [Parameter]
    [EditorRequired]
    public required ICharacterUnit Unit { get; set; }
}

<Div Background="Background.Body">
    <Div Flex="Flex.Grow.Is1" Padding="Padding.Is2" Border="Border.Is1.OnBottom">
        <Div TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold">FORCES</Div>
    </Div>

    <Div Padding="Padding.Is2" Flex="Flex.Column" Gap="Gap.Is2">
        @if (Unit is BattleUnit battleUnit)
        {
            if (battleUnit.Forces.Length == 0)
            {
                <Div Flex="Flex.Grow.Is1.Shrink.Is1" TextAlignment="TextAlignment.Center">
                    No forces have been assigned.
                </Div>
            }
            else
            {
                @foreach (var force in battleUnit.Forces)
                {
                    <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                        <ImageProxy Width="Width.Em(1.5)" Height="Height.Em(1.5)"
                                    Source="@force.Icon" Text="Icon"/>
                        <Div>@force.Name</Div>
                    </Div>
                }
            }
        }
        else if (Unit is ProtectionUnit protectionUnit)
        {
            if (protectionUnit.Forces is null || protectionUnit.Forces.Length == 0)
            {
                <Div Flex="Flex.Grow.Is1.Shrink.Is1" TextAlignment="TextAlignment.Center">
                    No forces have been assigned.
                </Div>
            }
            else
            {
                @foreach (var force in protectionUnit.Forces)
                {
                    <Div Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                        <ImageProxy Width="Width.Em(1.5)" Height="Height.Em(1.5)"
                                    Source="@force.Icon" Text="Icon"/>
                        <Div>@force.Name</Div>
                    </Div>
                }
            }
        }
    </Div>
</Div>