@inherits LayoutComponentBase

<Layout>
    <LayoutHeader Fixed>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Dark"
             NavigationBreakpoint="Breakpoint.Desktop" Visible="false"
             Style="box-shadow: 0 10px 8px rgba(33,37,41,0.5)">
            <BarBrand>
                <BarItem Padding="Padding.Is3.FromStart">
                    <Image Height="Height.Px(35)" Source="image/slime_icon.png" Text="Slime Image"></Image>
                    <Span VerticalAlignment="VerticalAlignment.Middle">Slime IM Wiki</Span>
                </BarItem>
            </BarBrand>
            <BarToggler Margin="Margin.Is3.FromEnd"/>
            <BarMenu Padding="Padding.Is3.OnX">
                <BarStart>
                    <BarItem>
                        <BarLink To="">Home</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="Characters">Characters</BarLink>
                    </BarItem>
                </BarStart>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent Background="Background.Body">
        <Container Padding="Padding.Is4" Breakpoint="Breakpoint.Desktop" Background="Background.Secondary">
            @Body
        </Container>
    </LayoutContent>
</Layout>