@inherits LayoutComponentBase

<Layout Overflow="Overflow.Auto">
    <LayoutHeader Fixed>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Body" ThemeContrast="ThemeContrast.Dark"
             NavigationBreakpoint="Breakpoint.Desktop" Visible="false">
            <BarBrand>
                <BarItem Padding="Padding.Is3.FromStart">
                    <Image Height="Height.Px(35)" Source="image/slime_icon.png" Text="Slime Image"/>
                    <Span VerticalAlignment="VerticalAlignment.Middle">Slime IM Wiki</Span>
                </BarItem>
            </BarBrand>
            <BarToggler Margin="Margin.Is3.FromEnd"/>
            <BarMenu Padding="Padding.Is3.OnX">
                <BarStart>
                    <BarItem>
                        <BarLink To="">Home</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="Characters">Characters</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="https://slime-im-team-builder.vercel.app/">Team Builder</BarLink>
                    </BarItem>
                </BarStart>
                <BarEnd>
                    <BarItem>
                        <BarLink
                            To="https://docs.google.com/spreadsheets/d/1JbFrlGxupmuOssj59nFwLhAin2CH4tcIQUSn4VxrwcI/edit?usp=sharing"
                            Target="Target.Blank"
                            Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                            <BarIcon IconName="IconName.FileExcel" IconSize="IconSize.x2"/>
                            <Div>Google Sheets</Div>
                        </BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="https://github.com/jianmingyong/SlimeIMWiki" Target="Target.Blank"
                                 Flex="Flex.Row.AlignItems.Center" Gap="Gap.Is2">
                            <BarIcon IconName="IconName.Github" IconSize="IconSize.x2"/>
                            <Div>GitHub</Div>
                        </BarLink>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        <Container Padding="Padding.Is4" Breakpoint="Breakpoint.Desktop">
            @Body
        </Container>
    </LayoutContent>
</Layout>