.filterIcon {
    cursor: pointer;
    filter: brightness(75%);
}

.filterIcon:hover {
    filter: brightness(100%);
}

.dropdown-item:hover {
    color: rgb(33, 37, 41) !important;
    background-color: rgb(248, 249, 250) !important;
}