body {
    background-image: url("../image/charaInfoBgZoomOut.webp");
    background-size: cover;
}

div.loading {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: slime_loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes slime_loading {
    0% {
        background-image: url("../image/loading/slime1.webp");
    }
    25% {
        background-image: url("../image/loading/slime2.webp");
    }
    50% {
        background-image: url("../image/loading/slime3.webp");
        background-position-y: 45%
    }
    75% {
        background-image: url("../image/loading/slime4.webp");
    }
    100% {
        background-image: url("../image/loading/slime5.webp");
    }
}

.filterIcon {
    cursor: pointer;
    filter: brightness(75%);
}

.filterIcon:hover {
    filter: brightness(100%);
}

.dropdown-item:hover {
    color: rgb(33, 37, 41) !important;
    background-color: rgb(248, 249, 250) !important;
}

.returnButton {
    content: url("../image/character_info/btnReturnNormal.png");
    cursor: pointer;
    user-select: none;
}

.returnButton:active {
    content: url("../image/character_info/btnReturnActive.png");
}