@page "/characters"
@using SlimeIMWiki.Components.Characters

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is2.FromBottom" Border="Border.Light.OnAll.Is1">
    <FilterSection/>
</Div>

<Div Background="Background.Body" Padding="Padding.Is2" Border="Border.Light.OnAll.Is1">
    <CharacterSection/>
</Div>