@page "/"
@using SlimeIMWiki.Components.Home

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <Heading TextAlignment="TextAlignment.Center">ABOUT</Heading>
    <Paragraph>
        SLIMEIM.WIKI is a Database for SLIME - Isekai Memories, the That Time I Got Reincarnated as a Slime mobile game
        developed by WFS and published by Bandai Namco Entertainment.
    </Paragraph>
</Div>

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <Timers/>
</Div>

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <LatestNotices/>
</Div>

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <Heading TextAlignment="TextAlignment.Center">RECENT LIVESTREAM</Heading>
    <LiveStream/>
</Div>