@page "/"
@using SlimeIMWiki.Components.Home

<Div Background="Background.Body" Padding="Padding.Is4" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <Heading>ABOUT</Heading>
    <!-- @formatter:off -->
    <Div>Welcome to the <Text Style="color: deepskyblue">SLIME WIKI</Text>, a comprehensive database dedicated to <Text Style="color: deepskyblue">That Time I Got Reincarnated as a Slime: ISEKAI Memories</Text>.</Div>
    <Div>Here you’ll find detailed information on characters from the mobile title developed by WFS and published by Bandai Namco Entertainment.</Div>
    <!-- @formatter:on -->
</Div>

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <Timers/>
</Div>

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <LatestNotices/>
</Div>

<Div Background="Background.Body" Padding="Padding.Is2" Margin="Margin.Is4.FromBottom" Border="Border.Light.OnAll.Is1">
    <Heading TextAlignment="TextAlignment.Center">RECENT LIVESTREAM</Heading>
    <LiveStream/>
</Div>