@page "/"
@using SlimeIMWiki.Components.Home

<CustomDivider Text="ABOUT" Margin="Margin.Is2.OnY"/>

<Div Background="Background.Body" Border="Border.Primary.OnAll.Rounded" Padding="Padding.Is3">
    SLIMEIM.WIKI is a Database for SLIME - Isekai Memories, the That Time I Got Reincarnated as a Slime mobile game
    developed by WFS and published by Bandai Namco Entertainment.
</Div>

<CustomDivider Text="TIMERS" Margin="Margin.Is2.FromTop.Is4.FromBottom"/>

<Timers/>

<CustomDivider Text="LATEST" Margin="Margin.Is2.FromTop.Is4.FromBottom"/>

<LatestNotices/>

<CustomDivider Text="RECENT LIVESTREAM" Margin="Margin.Is2"/>

<LiveStream/>