@using SlimeIMWiki.Components.Characters.Filters
@inherits ReactiveInjectableComponentBase<SlimeIMWiki.ViewModels.Characters.FilterSectionViewModel>

@{ Debug.Assert(ViewModel != null, nameof(ViewModel) + " != null"); }

<Div Flex="Flex.Wrap" Width="Width.Is100" Margin="Margin.Is2.FromBottom" Gap="Gap.Is2">
    <Div Flex="Flex.Row.JustifyContent.Start.AlignItems.Center.Grow.Is1" Gap="Gap.Is2">
        <Icon Name="IconName.Search" IconSize="IconSize.Default"/>
        <Autocomplete
            TItem="string" TValue="string"
            TextField="s => s" ValueField="s => s"
            Data="ViewModel.SearchResults"
            ReadData="ViewModel.AutoCompleteCallback"
            Placeholder="Search..." FreeTyping="true">
        </Autocomplete>
    </Div>

    <Div Flex="Flex.JustifyContent.End.OnTablet.AlignItems.Center.Grow.Is1">
        <Switch TValue="bool" @bind-Checked="ViewModel.IsOrFilter">OR Filters Toggle (Uncheck for AND Filters)</Switch>
    </Div>
</Div>

<Div Flex="Flex.Column" Gap="Gap.Is2" Background="Background.Body" Margin="Margin.Is2.FromBottom">
    <Div Flex="Flex.Wrap.JustifyContent.Center.AlignContent.Center" Gap="Gap.Is2">
        @foreach (var attackType in ViewModel.AttackTypes ?? [])
        {
            <AttackTypeFilter AttackType="attackType"/>
        }

        <Span>|</Span>

        @foreach (var attribute in ViewModel.Attributes ?? [])
        {
            <AttributeFilter Attribute="attribute"/>
        }

        <Span>|</Span>

        <ExEnhancementFilter/>
    </Div>

    <Div Flex="Flex.Wrap.JustifyContent.Center.AlignContent.Center" Gap="Gap.Is2">
        <InitialRarityFilter Rarity="3"/>

        <Span>|</Span>

        <InitialRarityFilter Rarity="4"/>

        <Span>|</Span>

        <InitialRarityFilter Rarity="5"/>
    </Div>
</Div>

<Div Flex="Flex.Wrap" Gap="Gap.Is2" Background="Background.Body" Margin="Margin.Is2.FromBottom">
    <Dropdown>
        <DropdownToggle Color="Color.Dark" Border="Border.White">Forces</DropdownToggle>
        <DropdownMenu MaxMenuHeight="50vh" Background="Background.Dark">
            @foreach (var forceGroup in ViewModel.Forces?.GroupBy(force => force.Category) ?? [])
            {
                <DropdownHeader TextColor="TextColor.White50">@forceGroup.Key</DropdownHeader>

                @foreach (var force in forceGroup)
                {
                    <DropdownItem TextColor="TextColor.Light">
                        <ForceFilter Force="force"/>
                    </DropdownItem>
                }

                <DropdownDivider/>
            }
        </DropdownMenu>
    </Dropdown>

    <Dropdown>
        <DropdownToggle Color="Color.Dark" Border="Border.White">Suited Facilities</DropdownToggle>
        <DropdownMenu MaxMenuHeight="50vh" Background="Background.Dark">
            @foreach (var buildingGroup in ViewModel.FieldBuildings?.GroupBy(building => building.Category) ?? [])
            {
                <DropdownHeader TextColor="TextColor.White50">@buildingGroup.Key</DropdownHeader>

                @foreach (var building in buildingGroup)
                {
                    <DropdownItem TextColor="TextColor.Light">
                        <FieldBuildingFilter FieldBuilding="building"/>
                    </DropdownItem>
                }

                <DropdownDivider/>
            }
        </DropdownMenu>
    </Dropdown>
</Div>

<Div Flex="Flex.Wrap" Gap="Gap.Is2">
    @foreach (var filter in ViewModel.Filters)
    {
        @filter.RemoveRenderFragment
    }
</Div>
